# Introdução

## Equipa
<ul>
    <li>Gonçalo Oliveira - 18559
    <li>André Reis - 26012
    <li>Diogo Gonçalves - 26021
</ul>

## Contexto do Projeto

## Objetivos


# Conjunto de dados

## Dataset utilizado
O dataset utilizado foi obtido no seguinte website: https://www.kaggle.com/datasets/justinas/housing-in-london/code?datasetId=619175

## Explicação colunas
<ul>
    <li>crim: Taxa de criminalidade per capita por cidade.
    <li>zn: Proporção de grandes lotes residenciais (acima de 25.000 pés quadrados).
    <li>indus: Proporção de terrenos comerciais e industriais  por cidade.
    <li>chas: Variável binária que indica se o imóvel fica próximo ao Rio Charles (1 para sim, 0 para não).
    <li>nox: Concentração de óxidos de nitrogênio no ar.
    <li>rm: Número médio de divisões por habitação.
    <li>age: proporção de unidades antigas ocupadas pelos proprietários construídas antes de 1940.
    <li>dis: Distâncias média até os centros de emprego de Boston.
    <li>rad: Índice de acessibilidade às auto-estradas.
    <li>tax: Taxa de imposto sobre a propriedade por $10.000.
</ul>

## Dataset Metadata

| Coluna   | Tipo de Dado |
| -------- | ------------ |
| crim     | float        |
| zn       | float        |
| indus    | float        |
| chas     | int          |
| nox      | float        |
| rm       | float        |
| age      | float        |
| dis      | float        |
| rad      | int          |
| tax      | int          |

## Configuração Inicial

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data_path = ("BostonHousing.csv")
data = pd.read_csv(data_path)

pd.DataFrame(data)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

## Remoção de Colunas
O dataset nao era explicito quanto a certas colunas, para não sermos induzidos a erro decidimos remover as colunas (ptration, b, lstat, medv)

In [24]:
data_trimmed = data.iloc[:, :-4]
pd.DataFrame(data_trimmed)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

[506 rows x 10 columns]

## Verificação de valores nulos

In [25]:
data_trimmed.isna().sum()

crim     0
zn       0
indus    0
chas     0
nox      0
rm       5
age      0
dis      0
rad      0
tax      0
dtype: int64

Existem 5 valores nulos na coluna __rn__

## Visualização e Remoção das linhas com valores nulos

In [26]:
# Filtrar e exibir as linhas onde 'rm' é nulo
null_rows = data_trimmed[data_trimmed['rm'].isnull()]

# Exibir as linhas com valores nulos
print(null_rows)

# Remover linhas onde a coluna 'rm' é nula
data_cleaned = data_trimmed.dropna(subset=['rm'])

# Verificar se há valores nulos restantes na coluna 'rm'
print("\nValores nulos em 'rm' após limpeza:", data_cleaned['rm'].isnull().sum())

null_rows_after_clean = data_cleaned[data_cleaned['rm'].isnull()]
print(null_rows_after_clean)

        crim    zn  indus  chas    nox  rm   age     dis  rad  tax
10   0.22489  12.5   7.87     0  0.524 NaN  94.3  6.3467    5  311
35   0.06417   0.0   5.96     0  0.499 NaN  68.2  3.3603    5  279
63   0.12650  25.0   5.13     0  0.453 NaN  43.4  7.9809    8  284
96   0.11504   0.0   2.89     0  0.445 NaN  69.6  3.4952    2  276
135  0.55778   0.0  21.89     0  0.624 NaN  98.2  2.1107    4  437

Valores nulos em 'rm' após limpeza: 0
Empty DataFrame
Columns: [crim, zn, indus, chas, nox, rm, age, dis, rad, tax]
Index: []

Podemos verificar as 5 linhas onde existem valores nulos, de seguida podemos verificar que as mesmas foram removidas

## Verificação de valores Duplicados

In [27]:
data_cleaned.duplicated().sum()

np.int64(0)

Não existem valores duplicados

## Verificação de Valores Negativos

In [30]:
negativos = data_cleaned[data_cleaned < 0].any()
print(negativos)

crim     False
zn       False
indus    False
chas     False
nox      False
rm       False
age      False
dis      False
rad      False
tax      False
dtype: bool

Podemos verificar que não existem valores negativos

## Identificar Outliers

# Vizualização